apiVersion: v1
kind: Secret
metadata:
  name: go-twitter-secret
  labels:
    app: twitter
type: Opaque
data:
  APP_APIKEY: NV---------......-----......ncxSw==
  APP_APISECRETKEY: UDk5U1U-----....----.....-----.....NlduSkhzclg=
  APP_ACCESSTOKEN: MTE1MjM3NzUw-----....------.....-----.....---JHNjh0SWUK
  APP_ACCESSTOKENSECRET: dEpSNmw4Umd-----.....-----.....------.......TdZclVtdjIz